<h1>@<%= current_user.username %>'s Twitter Feed</h1>
<p>Here are what your friends are saying:</p>

<%= render 'tweets/form' %>

<div class="container">
  <% @following_tweets.each_with_index do |tweet,i| %>
    <% if i % 3 == 0 %>
      <div class = "row">
    <% end %>
        <div class = "col-md-4">
          <div class = "well">
            <h5><%= link_to tweet.user.name, show_user_path(id: tweet.user.id) %></h5>
            <h5>@<%= tweet.user.username %></h5>
            <p><%= tweet.message %></p>
          </div>
        </div>
    <% if i % 3 == 2 || i == @following_tweets.length%>
      </div>
    <% end %>
  <% end %>
</div>
