<h1>@<%= @user.username %>'s Profile &amp; Tweets</h1>
<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>


<% if user_signed_in? && @user.id != current_user.id %>
	<p>
		<% if current_user.following.include?(@user.id) %>
			<%= link_to "Unfollow", unfollow_path(id: @user.id), class: "btn btn-danger" %>
		<% else %>
			<%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
		<% end %>
	</p>
<% end %>

<% @user.tweets.each do |tweet| %>
	<div>
		@<%= @user.username %>
		<%= tweet.message %>
	</div>
<% end %>
