<!DOCTYPE html>
<html>
<head>
  <title>Tweeter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="jumbotron">
  <div class="container">
    <h1>Say things! Read stuff!</h1>
    <p>And don't worry about getting bored, only 140 characters allowed!</p>
  </div>
</div>

<%if user_signed_in? %>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <%= link_to "Tweets", tweets_path, class: "navbar-brand" %>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li><%= link_to "Feed", root_path %></li>
	        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<%else%>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <%= link_to "Tweets", tweets_path, class: "navbar-brand" %>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><%= link_to "Sign Up",new_user_registration_path %></li>
	        <li><%= link_to "Forgot Password", new_user_password_path, method: :delete %></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<%end%>

<%= yield %>

</body>
</html>
